body{
    overflow:auto;
}
h2,h1,h3{
    font-family: 'Montserrat';
}
.page_links li a{
    font-family: 'Montserrat';
    color: white            
}
p{
    font-family: "Open Sans";
}
#part1{
    margin-top: -56px;
}
.right-side{
    float: right;
    width: 70%;
    text-align: right;
    margin: auto;
}
.left-side{
    display: inline-block;
    position: relative;
    width: 30%;
}
.page_links {
    position: relative;
    z-index: 10000;
    bottom: 0px;
    width: 100%;
    background-color: #003185;
    padding: 5px;
}
.menu_bar{
    font-family: "Montserrat";
    width: 100%;
    display: flex;
    height: 100%;
    position: fixed;
    overflow: hidden;
    line-height: 56px;
    background-color: rgba(0,0,0,0.4);
    border-bottom: solid 1px rgba(255,255,255,0.4);
    display: -webkit-box;
    display: -moz-box;
    display: box;
    display: -webkit-flex;
    display: -moz-flex;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-pack: justify;
    -moz-box-pack: justify;
    box-pack: justify;
    -webkit-justify-content: space-between;
    -moz-justify-content: space-between;
    -ms-justify-content: space-between;
    -o-justify-content: space-between;
    justify-content: space-between;
    -ms-flex-pack: justify;
    -webkit-box-lines: no-wrap;
    -moz-box-lines: no-wrap;
    box-lines: no-wrap;
    -webkit-flex-wrap: no-wrap;
    -moz-flex-wrap: no-wrap;
    -ms-flex-wrap: no-wrap;
    flex-wrap: no-wrap;
    font-size: 15px;
    z-index: 15;
    position: relative;
    color: #fff !important;
} 
.ingenium-logo-container img{
    height: 28px;
    margin-top: -2px;
    margin-left: 12px;
    margin-right: 6px;
    vertical-align: middle;
}
.menu_bar .left-side a:hover {
    color: #0070c2;
    border-bottom: 3px solid;
}
.menu_bar .left-side a {
    padding: 0 6px;
    color: white;
    display: inline-block;
    transition: all ease 180ms;
    height: 56px;
}
.menu_bar .right-side a {
    margin-right: 12px;
    color: white
}
.drop_down{
    display: none;
}
@media only screen and (max-width: 500px) {
    .page_links ul li {
        width: 100%;
    }
    .site_map div section {
        width: 100%;
        text-align: center;
    }
     .menu_bar div a{
        display: block ;
        clear: both;
     }
     .left-side,.right-side{
        display: block;
        text-align: center!important;
     }
     .right-side {
        width: 100%;
        margin: auto;
        float: none;
    }
    .left-side {
        display: inline-block;
        position: absolute;
        width: 100%;
       background-color: rgba(0,0,0,0.4);            
    }
    .ingenium-logo-container{
        width: 15%;
            background: black;
    }
    .ingenium-logo-container .logo{
        float: left;
    }
    .ingenium-logo-container .drop_down{
        float: right;
    }
    .left-side a:not(.ingenium-logo-container){
        display: none ;
    }
    .right-side {
        display: none ;
    }
     .drop_down{
        display: block;
        position: absolute;
        z-index: 1;
        right: 20px;
        font-size: 30px;
     }
     .ingenium-logo-container img {
        height: 45px;
        margin-top: 5px;
        margin-left: 0px;
    }
    
    .drop{
        display: block !important;
    }
}
.about_content aside{
    width: 50%;
    float: left;
    padding: 10px
}



.videos>div{
    text-align: center;
    width: 50%;
    float: left;
    padding: 10px
}
@media only screen and (max-width: 500px) {
    #part1 {
        margin-top: 0px;
    }
    .main, .container > header {
        width: 100%;
        margin: 0 auto;
        padding: 0px;
    }
    .about_content aside {
        width: 100%;
    }
    .videos>div {
        width: 100%;
    }
    iframe{
        width: 100%;
        height: 100%;
    }
}
body{
background:#f0f4f5;
}
.site_map{
background:white;
}
.mob_comp{
width: 15%!important
}
.active{
    border-style: none;
    background-color: #7a2f6a;
}
.modal img, img{
    width: 494.5px!important;
    height: 320px!important;
}