/* rainbow css content */

.class_canvas {
    position: relative;
    /* top: 0;
    left: 0; */
    background-color: black;
    /* z-index: -1; */
}

* {
    box-sizing: border-box;
}

body {
    position: relative;
    margin: 0;
    padding: 0;
}

html {
    font-family: 'Lato';
}


/* @font-face {
    font-family: 'gills', sans-serif;
    src: url('../font/GillSansStd.otf') format('opentype');
} */

body,
h1,
h2,
h3,
h4,
h5,
h6,
p {
    font-family: "Lato", "Helvetica Neue", Helvetica, Arial, sans-serif;
    font-weight: 700;
}

#c {
  position: absolute;
  top: 0;
  left: 0;
  background-color: black;
  z-index: -1;
}
.main-text{
  position: absolute;
  z-index: 0;
  left: 350px;
  top: 10px;
}

.accordion {
    background-color: #eee;
    color: #444;
    cursor: pointer;
    padding: 18px;
    width: 100%;
    text-align: left;
    border: none;
    outline: none;
    transition: 0.4s;
    font-family: 'gills', sans-serif;
}


/* Add a background color to the button if it is clicked on (add the .active class with JS), and when you move the mouse over it (hover) */

.active,
.accordion:hover {
    background-color: #ccc;
}


/* Style the accordion panel. Note: hidden by default */

.panel {
    padding: 0 18px;
    background-color: white;
    display: none;
    overflow: hidden;
    font-family: 'gills', sans-serif;
}

.accordion:after {
    content: '\271A';
    /* Unicode character for "plus" sign (+) */
    font-size: 13px;
    color: #777;
    float: right;
    margin-left: 5px;
}


/* .active:after {
  content: "\2796"; /* Unicode character for "minus" sign (-) */


/* for section  */

.center_bottom {
    margin-top: 300px;
}

.slider {
    height: 100vh;
}

#topheader .navbar-nav li>a {
    text-transform: capitalize;
    color: white;
    transition: background-color .2s, color .2s;
    &:hover,
    &:focus {
        color: #ff5432;
    }
}

#topheader .navbar-nav li.active>a {
    background-color: #333;
    color: #ff5432;
    border-top: 2px solid #ff5432;
}


/* body {
	height: 2000px;
	background: black;
}

.scene {
	position: absolute;
	width: 100%;
	transform: translateY(var(--translateY));
	will-change: transform;
}
 */

 .large-header {
  position: relative;
  width: 100%;
  background: #111;
  overflow: hidden;
  background-size: cover;
  background-position: center center;
  z-index: 1;
}

.demo .large-header{
  background-image: url("https://s3-us-west-2.amazonaws.com/s.cdpn.io/499416/demo-bg.jpg");
}

.main-title {
  position: absolute;
  margin: 0;
  padding: 0;
  color: #F9F1E9;
  text-align: center;
  top: 50%;
  left: 50%;
  -webkit-transform: translate3d(-50%, -50%, 0);
  transform: translate3d(-50%, -50%, 0);
}

.demo .main-title {
  text-transform: uppercase;
  font-size: 4.2em;
  letter-spacing: 0.1em;
}

.main-title .thin {
  font-weight: 200;
}

@media only screen and (max-width: 768px) {
  .demo .main-title {
     font-size: 3em;
  }
}


#section1 {
    padding-top: 50px;
    height: 100vh;
    color: #fff;
    /* background-color: #1E88E5; */
    /* background-image: url('../images/video/v4.gif');
    background-repeat: no-repeat;
    background-size: cover; */
    font-family: 'gills', sans-serif;
    /* background-image: url("https://s3-us-west-2.amazonaws.com/s.cdpn.io/499416/demo-bg.jpg"); */
}

#section2 {
    background: white;
    padding-top: 50px;
    /* height: ; */
    /* color: #fff; */
    font-family: 'gills', sans-serif;
    /*  background-image: url('../images/video/about.jpg');
    background-repeat: no-repeat;
    background-size: cover;*/
}

#section3 {
    padding-top: 50px;
    /* height: 700px; */
    /* color: #fff; */
    font-family: 'gills', sans-serif;
    background-color: #0e0e0e;
}

/* .class_canvas {
    position: relative;
    /* top: 0;
    left: 0;
    background-color: black;
    /* z-index: -1;
    background-color: black;
    /* background-image: url('../images/video/v2.gif'); 
    background-repeat: no-repeat;
    background-size: cover;
} */

#section4 {
    padding-top: 50px;
    /* height: 300px; */
    background-color: #ff5432;
    font-family: 'gills', sans-serif;
}

#particles-js {
    height: 100%;
    width: 100%;
    position: absolute;
    background: #262626;
}

#section5 {
    padding-top: 50px;
    /* height: 2300px; */
    /* color: #fff; */
    background: url('../images/video/polygon.jgp');
    background-repeat: repeat;
    background-size: cover;
    background-color: #262626;
    font-family: 'gills', sans-serif;
}

#section6 {
    background: url('../images/video/polygon.jgp');
    background-repeat: repeat;
    background-size: cover;
    padding-top: 50px;
    /* height: 500px; */
    /* color: #fff; */
    background-color: #fff;
    font-family: 'gills', sans-serif;
}

#section7 {
    background-color: #ff5432;
}

#footerImage {
    text-align: center;
}

#sec1:hover {
    color: #ff5432;
}

#sec2:hover {
    color: #ff5432;
}

#sec3:hover {
    color: #ff5432;
}

#sec4:hover {
    color: #ff5432;
}

#sec5:hover {
    color: #ff5432;
}

#sec6:hover {
    color: #ff5432;
}

#myNavbar {
    float: right;
    background-color: #333;
}

.navbar-fixed-top {
    background-color: #333;
    border-color: transparent;
}

.navbar-toggle {
    background-color: #333;
}

.navbar-fixed-top.scrolled {
    background-color: #333;
    transition: background-color 200ms linear;
    /*  border-bottom: 2px solid #d3d3d3;*/
    /* -moz-box-shadow: 0 3px 6px 3px rgba(0, 0, 0, 0.06); */
    /*  box-shadow: 0 4px 2px -2px rgba(0,0,0,.2);*/
}

.navbar-fixed-top {
    height: 59px;
}

#sec1text {
    font-family: 'gills', sans-serif;
    font-size: large;
    color: #fff;
    margin-top: 230px;
    margin-left: 850px;
}

@media screen and (max-width: 500px) {
    #sec1text {
        font-size: 14px;
        margin-bottom: 20px;
        margin-left: 10px;
    }
}

.row_1 {
    display: flex;
}


/* .rows {
    display: flex;
} */

.columns {
    float: left;
    width: 50%;
    padding: 5px;
}

@media screen and (max-width: 500px) {
    .columns {
        width: 100%;
    }
}


/*
.para1 {
    font-size: 20px;
    margin-left: 20px;
} */


/* .para2 {
    font-size: 20px;
} */

.timeline {
    position: relative;
    max-width: 1200px;
    margin: 0 auto;
}


/* The actual timeline (the vertical ruler) */

.timeline::after {
    content: '';
    position: absolute;
    width: 6px;
    background-color: white;
    top: 0;
    bottom: 0;
    left: 50%;
    margin-left: -3px;
}


/* Container around content */

.container1 {
    padding: 10px 40px;
    position: relative;
    background-color: inherit;
    width: 50%;
}


/* The circles on the timeline */

.container1::after {
    content: '';
    position: absolute;
    width: 25px;
    height: 25px;
    right: -17px;
    background-color: white;
    border: 4px solid #FF9F55;
    top: 15px;
    border-radius: 50%;
    z-index: 1;
}


/* Place the container to the left */

.left {
    left: 0;
}


/* Place the container to the right */

.right {
    left: 50%;
}


/* Add arrows to the left container (pointing right) */

.left::before {
    content: " ";
    height: 0;
    position: absolute;
    top: 22px;
    width: 0;
    z-index: 1;
    right: 30px;
    border: medium solid white;
    border-width: 10px 0 10px 10px;
    border-color: transparent transparent transparent white;
}


/* Add arrows to the right container (pointing left) */

.right::before {
    content: " ";
    height: 0;
    position: absolute;
    top: 22px;
    width: 0;
    z-index: 1;
    left: 30px;
    border: medium solid white;
    border-width: 10px 10px 10px 0;
    border-color: transparent white transparent transparent;
}


/* Fix the circle for containers on the right side */

.right::after {
    left: -16px;
}


/* The actual content */

.content12 {
    padding: 10px 10px;
    background-color: rgba(0, 0, 0, 0.5);
    position: relative;
    border-radius: 6px;
}


/* Media queries - Responsive timeline on screens less than 600px wide */

@media screen and (max-width: 600px) {
    /* Place the timelime to the left */
    .timeline::after {
        left: 31px;
    }
    /* Full-width containers */
    .container1 {
        width: 100%;
        padding-left: 70px;
        padding-right: 25px;
    }
    /* Make sure that all arrows are pointing leftwards */
    .container1::before {
        left: 60px;
        border: medium solid white;
        border-width: 10px 10px 10px 0;
        border-color: transparent white transparent transparent;
    }
    /* Make sure all circles are at the same spot */
    .left::after,
    .right::after {
        left: 15px;
    }
    /* Make all right containers behave like the left ones */
    .right {
        left: 0%;
    }
}

.container_card_1 {
    max-width: 1000px;
    position: relative;
    display: flex;
    /* padding: 20px; */
    justify-content: space-between;
}

.container_card_1 .card_1 {
    position: relative;
}

.container_card_1 .card_1 .face {
    width: 300px;
    height: 200px;
    transition: 0.5s;
}

.container_card_1 .card_1 .face .face1 {
    padding: 30px;
    position: relative;
    background: #fff;
    display: flex;
    justify-content: center;
    align-items: center;
    z-index: 1;
    transform: translateY(100px);
}

.container_card_1 .card_1:hover .face .face1 {
    background: #ff5432;
    transform: translateY(10px);
}

.container_card_1 .card_1 .face .face1 .content {
    opacity: 0.2;
    transition: 1s;
}

.container_card_1 .card_1:hover .face .face1 .content {
    opacity: 1;
}

.container_card_1 .card_1 .face .face1 .content .img_1 {
    max-width: 100px;
}

.container_card_1 .card_1:hover .face .face1 .content .h3_1 {
    margin: 0 0;
    padding: 0;
    color: #fff;
    text-align: center;
    /* font-size: 1em; */
}

.container_card_1 .card_1 .face .face2 {
    position: relative;
    background: rgb(253, 251, 251);
    display: flex;
    padding: 20px;
    justify-content: center;
    align-items: center;
    /* padding: 20px; */
    box-sizing: border-box;
    box-shadow: 0 10px 10px rgba(0, 0, 0, 0.8);
    transform: translateY(-100px);
}

.container_card_1 .card_1:hover .face .face2 {
    background: #fff;
    transform: translateY(-20px);
}

.container_card_1 .card_1 .face .face2 .p_1 {
    margin: 0px;
    padding: 0;
}

.container_card_1 .card_1 .face .face2 .content .a_2 {
    margin: 15px 0 0;
    display: inline-block;
    text-decoration: none;
    font-weight: 900;
    color: #333;
    padding: 5px;
    border: 1px solid #333;
}

.container_card_1 .card_1 .face .face2 .content .a_2:hover {
    background: #333;
    color: #fff;
}

.ul_1 {
    position: absolute;
    left: 50%;
    transform: translate(-50%, -50%);
    margin: 0;
    padding: 0;
    display: flex;
}

.ul_1 .li_1 {
    list-style: none;
}

.ul_1 .li_1 .a_1 {
    display: block;
    position: relative;
    width: 50px;
    height: 50px;
    line-height: 50px;
    font-size: 20px;
    text-align: center;
    text-decoration: none;
    color: #262626;
    margin: 0 10px;
    transition: .5s;
}

.ul_1 .li_1 .a_1 .span_1 {
    position: absolute;
    transition: transform .5s;
}

.ul_1 .li_1 .a_1 .span_1:nth-child(1),
.ul_1 .li_1 .a_1 .span_1:nth-child(3) {
    width: 100%;
    height: 1px;
    background: #fff;
    ;
}

.ul_1 .li_1 .a_1 .span_1:nth-child(1) {
    top: 0;
    left: 0;
    transform-origin: right;
}

.ul_1 .li_1 .a_1:hover .span_1:nth-child(1) {
    transform: scaleX(0);
    transform-origin: left;
    transition: transform .5s;
}

.ul_1 .li_1 .a_1 .span_1:nth-child(3) {
    bottom: 0;
    left: 0;
    transform-origin: left;
}

.ul_1 .li_1 .a_1:hover .span_1:nth-child(3) {
    transform: scaleX(0);
    transform-origin: right;
    transition: transform .5s;
}

.ul_1 .li_1 .a_1 .span_1:nth-child(2),
.ul_1 .li_1 .a_1 .span_1:nth-child(4) {
    width: 1px;
    height: 100%;
    background: #fff;
}

.ul_1 .li_1 .a_1 .span_1:nth-child(2) {
    top: 0;
    left: 0;
    transform: scaleY(0);
    transform-origin: bottom;
}

.ul_1 .li_1 .a_1:hover .span_1:nth-child(2) {
    transform: scaleY(1);
    transform-origin: top;
    transition: transform .5s;
}

.ul_1 .li_1 .a_1 .span_1:nth-child(4) {
    top: 0;
    right: 0;
    transform: scaleY(0);
    transform-origin: top;
}

.ul_1 .li_1 .a_1:hover .span_1:nth-child(4) {
    transform: scaleY(1);
    transform-origin: bottom;
    transition: transform .5s;
}

.center_for_clock {
    position: absolute;
    top: 70%;
    width: 100%;
    transform: translateY(-50%);
    text-align: center;
}

.footer {
    padding-top: 10px;
    padding: 30px 0px;
    background-color: #101010;
    color: #9d9d9d;
    bottom: 0;
    width: 100%;
}


/*

<div class="cude_background">
    <!-- <input type="checkbox" id="shadows" checked /><label for="shadows">Soft shadows</label> -->
    <div class="cubes">
        <!--   row, column, z -->
        <div class="cube" data-cube="111">
            <div class="cube-wrap">
                <div class="cube-top">
                    <div class="shadow-z" data-cube="112"></div>
                </div>
                <div class="cube-bottom"></div>
                <div class="cube-front-left"></div>
                <div class="cube-front-right"></div>
                <div class="cube-back-left"></div>
                <div class="cube-back-right"></div>
            </div>
        </div>
        <div class="cube" data-cube="121">
            <div class="cube-wrap">
                <div class="cube-top">
                </div>
                <div class="cube-bottom"></div>
                <div class="cube-front-left"></div>
                <div class="cube-front-right"></div>
                <div class="cube-back-left"></div>
                <div class="cube-back-right"></div>
            </div>
        </div>
        <div class="cube" data-cube="131">
            <div class="cube-wrap">
                <div class="cube-top">
                    <div class="shadow-z" data-cube="132"></div>
                </div>
                <div class="cube-bottom"></div>
                <div class="cube-front-left"></div>
                <div class="cube-front-right"></div>
                <div class="cube-back-left"></div>
                <div class="cube-back-right"></div>
            </div>
        </div>
        <div class="cube" data-cube="211">
            <div class="cube-wrap">
                <div class="cube-top">
                    <div class="shadow-flip" data-cube="111"></div>
                    <div class="shadow-y" data-cube="111"></div>
                    <div class="shadow-z" data-cube="212"></div>
                </div>
                <div class="cube-bottom"></div>
                <div class="cube-front-left"></div>
                <div class="cube-front-right"></div>
                <div class="cube-back-left"></div>
                <div class="cube-back-right"></div>
            </div>
        </div>
        <div class="cube" data-cube="221">
            <div class="cube-wrap">
                <div class="cube-top">
                    <div class="shadow-flip" data-cube="121"></div>
                    <div class="shadow-y" data-cube="121"></div>
                </div>
                <div class="cube-bottom"></div>
                <div class="cube-front-left"></div>
                <div class="cube-front-right"></div>
                <div class="cube-back-left"></div>
                <div class="cube-back-right"></div>
            </div>
        </div>
        <div class="cube" data-cube="231">
            <div class="cube-wrap">
                <div class="cube-top">
                    <div class="shadow-flip" data-cube="131"></div>
                    <div class="shadow-y" data-cube="131"></div>
                </div>
                <div class="cube-bottom"></div>
                <div class="cube-front-left"></div>
                <div class="cube-front-right"></div>
                <div class="cube-back-left"></div>
                <div class="cube-back-right"></div>
            </div>
        </div>
        <div class="cube" data-cube="311">
            <div class="cube-wrap">
                <div class="cube-top">
                    <div class="shadow-flip" data-cube="211"></div>
                    <div class="shadow-y" data-cube="211"></div>
                    <div class="shadow-z" data-cube="312"></div>
                </div>
                <div class="cube-bottom"></div>
                <div class="cube-front-left"></div>
                <div class="cube-front-right"></div>
                <div class="cube-back-left"></div>
                <div class="cube-back-right"></div>
            </div>
        </div>
        <div class="cube" data-cube="321">
            <div class="cube-wrap">
                <div class="cube-top">
                    <div class="shadow-flip" data-cube="221"></div>
                    <div class="shadow-y" data-cube="221"></div>
                    <div class="shadow-z" data-cube="322"></div>
                </div>
                <div class="cube-bottom"></div>
                <div class="cube-front-left"></div>
                <div class="cube-front-right"></div>
                <div class="cube-back-left"></div>
                <div class="cube-back-right"></div>
            </div>
        </div>
        <div class="cube" data-cube="331">
            <div class="cube-wrap">
                <div class="cube-top">
                    <div class="shadow-flip" data-cube="231"></div>
                    <div class="shadow-y" data-cube="231"></div>
                    <div class="shadow-z" data-cube="332"></div>
                </div>
                <div class="cube-bottom"></div>
                <div class="cube-front-left"></div>
                <div class="cube-front-right"></div>
                <div class="cube-back-left"></div>
                <div class="cube-back-right"></div>
            </div>
        </div>

        <!-- top layer -->
        <div class="cube" data-cube="112">
            <div class="cube-wrap">
                <div class="cube-top">

                </div>
                <div class="cube-bottom"></div>
                <div class="cube-front-left"></div>
                <div class="cube-front-right"></div>
                <div class="cube-back-left"></div>
                <div class="cube-back-right"></div>
            </div>
        </div>
        <div class="cube" data-cube="122">
            <div class="cube-wrap">
                <div class="cube-top">
                </div>
                <div class="cube-bottom"></div>
                <div class="cube-front-left"></div>
                <div class="cube-front-right"></div>
                <div class="cube-back-left"></div>
                <div class="cube-back-right"></div>
            </div>
        </div>
        <div class="cube" data-cube="132">
            <div class="cube-wrap">
                <div class="cube-top">
                </div>
                <div class="cube-bottom"></div>
                <div class="cube-front-left"></div>
                <div class="cube-front-right"></div>
                <div class="cube-back-left"></div>
                <div class="cube-back-right"></div>
            </div>
        </div>
        <div class="cube" data-cube="212">
            <div class="cube-wrap">
                <div class="cube-top">
                    <div class="shadow-flip" data-cube="112"></div>
                    <div class="shadow-y" data-cube="112"></div>
                </div>
                <div class="cube-bottom"></div>
                <div class="cube-front-left"></div>
                <div class="cube-front-right"></div>
                <div class="cube-back-left"></div>
                <div class="cube-back-right"></div>
            </div>
        </div>
        <div class="cube" data-cube="222">
            <div class="cube-wrap">
                <div class="cube-top">
                    <div class="shadow-flip" data-cube="122"></div>
                    <div class="shadow-y" data-cube="122"></div>
                </div>
                <div class="cube-bottom"></div>
                <div class="cube-front-left"></div>
                <div class="cube-front-right"></div>
                <div class="cube-back-left"></div>
                <div class="cube-back-right"></div>
            </div>
        </div>
        <div class="cube" data-cube="232">
            <div class="cube-wrap">
                <div class="cube-top">
                    <div class="shadow-flip" data-cube="132"></div>
                    <div class="shadow-y" data-cube="132"></div>
                </div>
                <div class="cube-bottom"></div>
                <div class="cube-front-left"></div>
                <div class="cube-front-right"></div>
                <div class="cube-back-left"></div>
                <div class="cube-back-right"></div>
            </div>
        </div>
        <div class="cube" data-cube="312">
            <div class="cube-wrap">
                <div class="cube-top">
                    <div class="shadow-flip" data-cube="212"></div>
                    <div class="shadow-y" data-cube="212"></div>
                </div>
                <div class="cube-bottom"></div>
                <div class="cube-front-left"></div>
                <div class="cube-front-right"></div>
                <div class="cube-back-left"></div>
                <div class="cube-back-right"></div>
            </div>
        </div>
        <div class="cube" data-cube="322">
            <div class="cube-wrap">
                <div class="cube-top">
                    <div class="shadow-flip" data-cube="222"></div>
                    <div class="shadow-y" data-cube="222"></div>
                </div>
                <div class="cube-bottom"></div>
                <div class="cube-front-left"></div>
                <div class="cube-front-right"></div>
                <div class="cube-back-left"></div>
                <div class="cube-back-right"></div>
            </div>
        </div>
        <div class="cube" data-cube="332">
            <div class="cube-wrap">
                <div class="cube-top">
                    <div class="shadow-flip" data-cube="232"></div>
                    <div class="shadow-y" data-cube="232"></div>
                </div>
                <div class="cube-bottom"></div>
                <div class="cube-front-left"></div>
                <div class="cube-front-right"></div>
                <div class="cube-back-left"></div>
                <div class="cube-back-right"></div>
            </div>
        </div>

        <!-- bottom layer -->
        <div class="cube" data-cube="113">
            <div class="cube-wrap">
                <div class="cube-top">
                    <div class="shadow-z" data-cube="111"></div>
                </div>
                <div class="cube-bottom"></div>
                <div class="cube-front-left"></div>
                <div class="cube-front-right"></div>
                <div class="cube-back-left"></div>
                <div class="cube-back-right"></div>
            </div>
        </div>
        <div class="cube" data-cube="123">
            <div class="cube-wrap">
                <div class="cube-top">
                    <div class="shadow-z" data-cube="121"></div>
                </div>
                <div class="cube-bottom"></div>
                <div class="cube-front-left"></div>
                <div class="cube-front-right"></div>
                <div class="cube-back-left"></div>
                <div class="cube-back-right"></div>
            </div>
        </div>
        <div class="cube" data-cube="133">
            <div class="cube-wrap">
                <div class="cube-top">
                </div>
                <div class="cube-bottom"></div>
                <div class="cube-front-left"></div>
                <div class="cube-front-right"></div>
                <div class="cube-back-left"></div>
                <div class="cube-back-right"></div>
            </div>
        </div>
        <div class="cube" data-cube="213">
            <div class="cube-wrap">
                <div class="cube-top">
                    <div class="shadow-flip" data-cube="113"></div>
                    <div class="shadow-y" data-cube="113"></div>
                    <div class="shadow-z" data-cube="211"></div>
                </div>
                <div class="cube-bottom"></div>
                <div class="cube-front-left"></div>
                <div class="cube-front-right"></div>
                <div class="cube-back-left"></div>
                <div class="cube-back-right"></div>
            </div>
        </div>
        <div class="cube" data-cube="223">
            <div class="cube-wrap">
                <div class="cube-top">
                    <div class="shadow-y" data-cube="123"></div>
                    <div class="shadow-z" data-cube="221"></div>
                </div>
                <div class="cube-bottom"></div>
                <div class="cube-front-left"></div>
                <div class="cube-front-right"></div>
                <div class="cube-back-left"></div>
                <div class="cube-back-right"></div>
            </div>
        </div>
        <div class="cube" data-cube="233">
            <div class="cube-wrap">
                <div class="cube-top">
                    <div class="shadow-y" data-cube="133"></div>
                    <div class="shadow-z" data-cube="231"></div>
                </div>
                <div class="cube-bottom"></div>
                <div class="cube-front-left"></div>
                <div class="cube-front-right"></div>
                <div class="cube-back-left"></div>
                <div class="cube-back-right"></div>
            </div>
        </div>
        <div class="cube" data-cube="313">
            <div class="cube-wrap">
                <div class="cube-top">
                    <div class="shadow-flip" data-cube="213"></div>
                    <div class="shadow-y" data-cube="213"></div>
                    <div class="shadow-z" data-cube="311"></div>
                </div>
                <div class="cube-bottom"></div>
                <div class="cube-front-left"></div>
                <div class="cube-front-right"></div>
                <div class="cube-back-left"></div>
                <div class="cube-back-right"></div>
            </div>
        </div>
        <div class="cube" data-cube="323">
            <div class="cube-wrap">
                <div class="cube-top">
                    <div class="shadow-flip" data-cube="223"></div>
                    <div class="shadow-y" data-cube="223"></div>
                    <div class="shadow-z" data-cube="321"></div>
                </div>
                <div class="cube-bottom"></div>
                <div class="cube-front-left"></div>
                <div class="cube-front-right"></div>
                <div class="cube-back-left"></div>
                <div class="cube-back-right"></div>
            </div>
        </div>
        <div class="cube" data-cube="333">
            <div class="cube-wrap">
                <div class="cube-top">
                    <div class="shadow-flip" data-cube="233"></div>
                    <div class="shadow-y" data-cube="233"></div>
                    <div class="shadow-z" data-cube="331"></div>
                </div>
                <div class="cube-bottom"></div>
                <div class="cube-front-left"></div>
                <div class="cube-front-right"></div>
                <div class="cube-back-left"></div>
                <div class="cube-back-right"></div>
            </div>
        </div>

        <div class="large-shadows">
            <div class="large-shadow" data-cube="113"></div>
            <div class="large-shadow" data-cube="123"></div>
            <div class="large-shadow" data-cube="133"></div>
            <div class="large-shadow" data-cube="213"></div>
            <div class="large-shadow" data-cube="223"></div>
            <div class="large-shadow" data-cube="233"></div>
            <div class="large-shadow" data-cube="313"></div>
            <div class="large-shadow" data-cube="323"></div>
            <div class="large-shadow" data-cube="333"></div>
        </div>
    </div>
</div>

*/

.square_ring {
    /* left: 10px;
    top: 20px; */
    /* bottom: 5px; */
    position: relative;
    width: 300px;
    height: 300px;
    display: flex;
    justify-content: center;
    align-items: center;
}

.square_ring span:nth-child(1) {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    border: 2px solid;
    border-radius: 38% 62% 63% 37% / 41% 44% 56% 59%;
    transition: 0.5s;
    animation: animate 6s linear infinite;
}

.square_ring:hover span:nth-child(1)
/* {
    position: absolute;
    top:0;
    left:0;
    width:100%;
    height:100%;
    border: 2px solid #fff;
    border-radius: 38% 62% 63% 37% / 41% 44% 56% 59%; */

{
    border: none;
    background: rgba(7, 7, 7, 0.5);
}

.square_ring span:nth-child(2) {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    border: 2px solid;
    border-radius: 38% 62% 63% 37% / 41% 44% 56% 59%;
    transition: 0.5s;
    animation: animate 4s linear infinite;
}

.square_ring:hover span:nth-child(2)
/* {
    position: absolute;
    top:0;
    left:0;
    width:100%;
    height:100%;
    border: 2px solid #fff;
    border-radius: 38% 62% 63% 37% / 41% 44% 56% 59%; */

{
    border: none;
    background: rgba(7, 7, 7, 0.5);
}

.square_ring span:nth-child(3) {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    border: 2px solid;
    border-radius: 38% 62% 63% 37% / 41% 44% 56% 59%;
    transition: 0.5s;
    animation: animate2 10s linear infinite;
}

.square_ring:hover span:nth-child(3)
/* {
    position: absolute;
    top:0;
    left:0;
    width:100%;
    height:100%;
    border: 2px solid #fff;
    border-radius: 38% 62% 63% 37% / 41% 44% 56% 59%; */

{
    border: none;
    background: rgba(7, 7, 7, 0.5);
}

@keyframes animate {
    0% {
        transform: rotate(0deg);
    }
    100% {
        transform: rotate(360deg);
    }
    /* 0%
    {
        transform: rotate(0deg);
    } */
}

@keyframes animate2 {
    0% {
        transform: rotate(360deg);
    }
    100% {
        transform: rotate(0deg);
    }
    /* 0%
    {
        transform: rotate(0deg);
    } */
}

.content_ring {
    position: relative;
    padding: 40px 60px;
    /* color: #fff; */
    text-align: center;
    transition: 0.5s;
    z-index: 1000;
}

.content_ring:hover {
    color: #fff;
}
