.bg-1{
  background-image:url(../img/backgrounds/bg-1.jpg)
}

.bg-2{
  background-image:url(../img/backgrounds/bg-2.jpg)
}

.bg-3{
  background-image:url(../img/backgrounds/bg-3.jpg)
}

.bg-4{
  background-image:url(../img/backgrounds/bg-4.jpg)
}

.bg-5{
  background-image:url(../img/backgrounds/bg-5.jpg)
}

.bg-6{
  background-image:url(../img/backgrounds/bg-6.html)
}

.bg-7{
  background-image:url(../img/backgrounds/bg-7.html)
}
