.container_res_card {
    position: relative;
    max-width: 1200px;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-wrap: wrap;
}

.container_res_card .card_res_card {
    position: relative;
    /* max-width:1000px; */
    display: flex;
    justify-content: center;
    align-items: center;
    flex-wrap: wrap;
    /* padding: 20px 60px 20px 100px; */
    text-align: left;
    margin: 100px 0;
}

.container_res_card .card_res_card:nth-child(odd) {
    flex-direction: row;
}

.container_res_card .card_res_card:nth-child(even) {
    flex-direction: row-reverse;
    text-align: right;
}

.container_res_card .card_res_card .imgbx_res_card {
    position: relative;
    /* max-width:1000px; */
    /* display: flex;
    justify-content: center;
    align-items: center;
    flex-wrap: wrap;
    margin: 100px 0; */
    left: 25px;
    z-index: 1;
    width: 500px;
    height: 400px;
}

.container_res_card .card_res_card:nth-child(even) .imgbx_res_card {
    /* flex-direction: row;
     */
    left: -25px;
}

.container_res_card .card_res_card .imgbx_res_card img {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    object-fit: cover;
}

.container_res_card .card_res_card .contentbx_res_card {
    position: relative;
    right: 25px;
    width: 600px;
    height: 400px;
    background: rgb(48, 47, 47);
    display: flex;
    justify-content: center;
    align-items: center;
    /* padding: 20px 60px 20px 100px; */
    /* text-align: center; */
    padding-left: 60px;
}

.container_res_card .card_res_card:nth-child(even) .contentbx_res_card {
    /* flex-direction: row;
     */
    right: -25px;
}

.container_res_card .card_res_card .contentbx_res_card:before {
    content: '';
    position: absolute;
    top: -50px;
    bottom: -50px;
    left: 0;
    right: 0;
    background: rgb(48, 47, 47);
    z-index: -1;
}

.container_res_card .card_res_card .contentbx_res_card h2 {
    font-size: 20px;
    color: #fff;
}

.container_res_card .card_res_card .contentbx_res_card p {
    /* font-size: 30px; */
    margin-top: 10px;
    color: #fff;
}

.container_res_card .card_res_card .contentbx_res_card a {
    /* font-size: 30px; */
    display: inline-block;
    margin-top: 15px;
    text-decoration: none;
    padding: 10px;
    border: 1px solid #fff;
    color: #fff;
}

.container_res_card .card_res_card .contentbx_res_card a:hover {
    /* font-size: 30px; */
    /* display: inline-block;
    margin-top: 15px;
    text-decoration: none;
    padding: 10px;
    border: 1px solid #fff;
    color: #fff; */
    background-color: #ff5432;
}

@media (max-width:1000px) {
    .container_res_card .card_res_card {
        flex-direction: column;
        max-width: 350px;
    }
    .container_res_card .card_res_card .contentbx_res_card {
        width: 100%;
        height: auto;
        right: 0;
        padding: 30px;
        text-align: center;
    }
    .container_res_card .card_res_card .imgbx_res_card {
        width: 100%;
        height: 300px;
        left: 0;
    }
    .container_res_card .card_res_card .contentbx_res_card:before {
        top: o;
        bottom: 0;
    }
    .container_res_card .card_res_card:nth-child(even) .imgbx_res_card {
        /* flex-direction: row;
         */
        left: 0px;
    }
    .container_res_card .card_res_card:nth-child(even) .contentbx_res_card {
        /* flex-direction: row;
         */
        right: 0px;
    }
}